<mat-toolbar color="primary">
  <button
    *ngIf="isLoggedIn"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-form-field floatLabel="never">
    <input type="text" matInput placeholder="Search" />
    <i matSuffix class="material-icons">search</i>
  </mat-form-field>
  <span class="example-spacer"></span>
  <div *ngIf="!isLoggedIn">
    <button mat-raised-button color="accent" routerLink="/auth/login">
      Login
    </button>
    <a mat-raised-button color="accent" routerLink="/auth/signup">Sign Up</a>
  </div>
  <div *ngIf="isLoggedIn">
    <a mat-raised-button routerLink="" color="accent" (click)="logout()"
      >Logout</a
    >
    <a mat-raised-button color="accent">Profile</a>
  </div>
</mat-toolbar>
